<footer class="footer-container">
    <div class="footer-section footer-contact">
      <h3>Contact Us</h3>
      <p>Lafferre Hall</p>
      <p>416 S. 6th St.</p>
      <p>Columbia, MO 65201</p>
    </div>
  
  
    <div class="footer-section footer-logo">
      <img src="../../../assets/logos/white-logo.png" alt="Club Logo" class="footer-logo-img">
      <p>&copy; 2024 Mizzou Racing</p>
    </div>
  
  
    <div class="footer-section footer-social">
      <h3>Stay Connected</h3>
      <p>sae&#64;missouri.edu</p>
      <p>saeelectric&#64;missouri.edu</p>
      <div class="social-icons">
        <a href="https://instagram.com" target="_blank">
          <img src="../../assets/socials/instagram.png" alt="Instagram">
        </a>
        <a href="https://twitter.com" target="_blank">
          <img src="../../assets/socials/twitter.png" alt="Twitter">
        </a>
      </div>
    </div>
  </footer>
  