<br><br>
<div class="card-container">
    <div class="card">
      <div class="card-left">
        <h2>About Us</h2>
      </div>
      <div class="card-right">
        <p>
          Mizzou Racing and Mizzou Electric Racing are the two Formula SAE teams at the University of Missouri. 
          We both build a ¼ scale formula-style car each year and compete against universities from around the world. 
          The cars are both designed, manufactured, and built by our members; our organizations are entirely student-run. 
          With both teams operating out of the same shop, members can contribute to both the combustion car and the 
          electric car. The teams are made up of engineering students, as well as other majors, ranging from freshman
          undergrad to graduate students.
        </p>
      </div>
    </div>
  </div>
  
  <br><br><br>
  <!-- Second card -->
  <div class="card-container">
    <div class="card second-card">
      <div class="card-left">
        <h2>Contact Us</h2>
        <p>Lafferre Hall</p>
        <p>416 S. 6th St.</p>
        <p>Columbia, MO 65201</p>
        <p>saeelectric&#64;missouri.edu</p>
      </div>
      <div class="card-right">
        <img src="../../../assets/home/car2372.png" alt="Contact Image" class="contact-image">
      </div>
    </div>
  </div>
  