<app-navbar></app-navbar>

<div class="sponsors-header">
    <h1>Our Sponsors</h1>
    <p>
      We deeply appreciate the support from all our sponsors. Their generosity enables us to push the boundaries of engineering,
      innovation, and teamwork. Without their contributions, our success at Formula SAE competitions would not be possible.
    </p>
</div>

<div class="sponsors-grid">
    <div class="sponsor-card">
      <img src="../../assets/sponsors/Altium.png" alt="Sponsor 1 Logo">
      <h3>Sponsor 1</h3>
      <p>Funding</p>
    </div>
  
    <div class="sponsor-card">
      <img src="../../assets/sponsors/ansys.png" alt="Sponsor 2 Logo">
      <h3>Sponsor 2</h3>
      <p>Funding</p>
    </div>
  
    <div class="sponsor-card">
      <img src="../../assets/sponsors/3Dconnection.png" alt="Sponsor 3 Logo">
      <h3>Sponsor 3</h3>
      <p>Funding</p>
    </div>
  
    <div class="sponsor-card">
      <img src="../../assets/sponsors/cswr.png" alt="Sponsor 4 Logo">
      <h3>Sponsor 4</h3>
      <p>Funding</p>
    </div>

    <div class="sponsor-card">
        <img src="../../assets/sponsors/Altium.png" alt="Sponsor 1 Logo">
        <h3>Sponsor 1</h3>
        <p>Funding</p>
    </div>
    
    <div class="sponsor-card">
        <img src="../../assets/sponsors/ansys.png" alt="Sponsor 2 Logo">
        <h3>Sponsor 2</h3>
        <p>Funding</p>
    </div>
    
    <div class="sponsor-card">
        <img src="../../assets/sponsors/3Dconnection.png" alt="Sponsor 3 Logo">
        <h3>Sponsor 3</h3>
        <p>Funding</p>
    </div>

    <div class="sponsor-card">
        <img src="../../assets/sponsors/cswr.png" alt="Sponsor 4 Logo">
        <h3>Sponsor 4</h3>
        <p>Funding</p>
    </div>

    <div class="sponsor-card">
        <img src="../../assets/sponsors/cswr.png" alt="Sponsor 4 Logo">
        <h3>Sponsor 4</h3>
        <p>Funding</p>
    </div>

    <div class="sponsor-card">
        <img src="../../assets/sponsors/cswr.png" alt="Sponsor 4 Logo">
        <h3>Sponsor 4</h3>
        <p>Funding</p>
    </div>

    <div class="sponsor-card">
        <img src="../../assets/sponsors/cswr.png" alt="Sponsor 4 Logo">
        <h3>Sponsor 4</h3>
        <p>Funding</p>
    </div>

    <div class="sponsor-card">
        <img src="../../assets/sponsors/cswr.png" alt="Sponsor 4 Logo">
        <h3>Sponsor 4</h3>
        <p>Funding</p>
    </div>
</div>

<div class="small-sponsors-grid">
    <div class="small-sponsor-card">
      <img src="../../assets/sponsors/zoltek.png" alt="Sponsor 1 Logo">
    </div>
  
    <div class="small-sponsor-card">
      <img src="../../assets/sponsors/enepaq.png" alt="Sponsor 2 Logo">
    </div>
  
    <div class="small-sponsor-card">
      <img src="../../assets/sponsors/MUengineering.png" alt="Sponsor 3 Logo">
    </div>
  
    <div class="small-sponsor-card">
      <img src="../../assets/sponsors/moneta.png" alt="Sponsor 4 Logo">
    </div>

    <div class="small-sponsor-card">
        <img src="../../assets/sponsors/zoltek.png" alt="Sponsor 1 Logo">
    </div>

    <div class="small-sponsor-card">
        <img src="../../assets/sponsors/enepaq.png" alt="Sponsor 2 Logo">
    </div>

    <div class="small-sponsor-card">
        <img src="../../assets/sponsors/MUengineering.png" alt="Sponsor 3 Logo">
    </div>
</div>

<app-footer></app-footer>
  
  