/* Base styling for navbar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    z-index: 1000;
    padding: 0 20px;
    box-sizing: border-box;
  }
  
  .navbar-logo img {
    height: 80px;
  }
  
  .hamburger {
    display: none;
    font-size: 30px;
    color: #e2e2e2;
    cursor: pointer;
    margin-left: auto;
  }
  
  /* Styling for navbar links */
  .navbar-links {
    display: flex;
    justify-content: flex-end;
  }
  
  .nav-item {
    position: relative;
  }
  
  .nav-item a {
    margin-left: 30px;
    text-decoration: none;
    font-size: 20px;
    color: #e2e2e2;
  }
  
  .nav-item a:hover {
    color: #F1B82D;
  }
  
  /* Sub-nav styling for desktop */
  .sub-nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black;
    padding: 10px 0;
    width: 200px;
  }
  
  .sub-nav a {
    display: block;
    padding: 10px;
    margin: 0;
    color: #e2e2e2;
  }
  
  .sub-nav a:hover {
    background-color: #333;
  }
  
  /* Show sub-nav on hover for desktop */
  @media (min-width: 876px) {
    .nav-item:hover .sub-nav {
      display: block;
    }
  }
  
/* Mobile styles */
@media (max-width: 875px) {
    .hamburger {
      display: block;
      position: fixed;
      right: 10px;
    }
  
    .navbar-links {
      display: block;
      max-height: 0;
      overflow: hidden;
      flex-direction: column;
      width: 100%;
      background-color: black;
      position: absolute;
      top: 120px;
      left: 0;
      transition: max-height 0.3s ease-out;
    }
  
    .nav-item {
      width: 100%;
    }
  
    .nav-item a {
      display: block;
      padding: 10px;
      text-align: left;
    }
  
    /* Remove position absolute for sub-nav on mobile */
    .nav-item .sub-nav {
      display: none;
      background-color: black;
      padding: 0;
      width: 100%;
      position: static; /* Ensures sub-nav pushes content down */
    }
  
    /* Make sub-nav create space for its contents */
    .nav-item.active .sub-nav {
      display: block; /* Show the sub-nav when the parent link is active */
      margin-top: 10px;
    }
  
    .sub-nav a {
      padding-left: 60px; /* Indent sub-items */
      padding-bottom: 10px;
    }
  
    /* Adjust max-height of navbar to make space for sub-links */
    .navbar-links.show {
      max-height: 1000px; /* Adjust to accommodate all the links */
    }
  }
  
  