<app-navbar></app-navbar>

<div class="aero-banner">
    <div class="aero-text">
      <h1>Powertrain</h1>
    </div>
</div>

<div class="aero-card-container">
    <div class="aero-card">
      <h3>What We Do...</h3>
      <p>
        We run a Honda CBR600RR engine. Our Powertrain/Drivetrain system contains our intake manifold, exhaust, fuel system, 
        fuel cell, dry sump oil system, electronic throttle, and pneumatic shifter. Our team designs and creates all of these 
        components in house. We also tune the engine, electronic throttle, and pneumatic shifters using our chassis dynamometer.
      </p>
    </div>
</div>

<div class="aero-image-grid">
    <img src="../../assets/powertrain/powertrain1.jpg" alt="Aerodynamics work 1">
    <img src="../../assets/powertrain/powertrain2.jpg" alt="Aerodynamics work 2">
    <img src="../../assets/powertrain/powertrain3.jpg" alt="Aerodynamics work 3">
    <img src="../../assets/powertrain/powertrain4.jpg" alt="Aerodynamics work 4">
</div>

<div class="subteam-lead-card-container">
    <div class="subteam-lead-card">
      <h3>Sub Team Lead: Ben Higgins</h3>
      <div class="subteam-lead-content">
        <div class="subteam-lead-image">
          <img src="../../assets/powertrain/Ben.jpg" alt="Team Leader">
        </div>
        <div class="subteam-lead-text">
          <p>
            Ben is a junior mechanical engineering major, and is also the Cheif Mechanical Engineer of Mizzou Racing. He joined the team 
            in Fall 2022. This season, Ben has worked on a redesign of the intake and cooling systems , as well as a motor rebuild. He is 
            also a member of our welding team and plays a huge role in chassis and accumulator fabrication.
        </p>
        </div>
      </div>
    </div>
</div>

<app-footer></app-footer>
  
  
  
  
  