<app-navbar></app-navbar>

<div class="meet-the-team-banner">
    <div class="meet-the-team-text">
      <h1>Meet the Team</h1>
    </div>
</div>

<div class="team-section">
    <div class="team-image">
      <img src="../../assets/meet-the-team/the-team.JPG" alt="2024 Team">
    </div>
    <div class="team-text">
      <h2>2024 Team</h2>
      <p>
        Our team consists of students pursuing majors in engineering and various other fields, ranging from first-year 
        undergraduates to graduate students. Together we spend roughly 55,125 hours in the shop in a school year.
      </p>
    </div>
</div>

<div class="team-cards-section">
    <div class="team-card">
      <div class="team-card-image">
        <img src="../../assets/meet-the-team/David.jpg" alt="Team Member 1">
      </div>
      <div class="team-card-content">
        <h3>Adam Farr</h3>
        <p>"I've gotten to lead my own projects, assisted the team leads with theirs, and I've really taken a big role in helping the new members complete their new member projects this year."</p>
      </div>
    </div>
  
    <div class="team-card">
      <div class="team-card-image">
        <img src="../../assets/meet-the-team/Justin.jpg" alt="Team Member 2">
      </div>
      <div class="team-card-content">
        <h3>Alex Gillund</h3>
        <p>“It’s nice that we get to learn all that you can and want around here. You get to work with everyone and learn everything before you get settled Into your thing.”</p>
      </div>
    </div>

    <div class="team-card">
        <div class="team-card-image">
          <img src="../../assets/meet-the-team/David.jpg" alt="Team Member 1">
        </div>
        <div class="team-card-content">
          <h3>David Hartman</h3>
          <p>"It’s incredible spending every day working with brilliant people coming together to design and build something they love. It’s been life changing to be surrounded by this amount of creativity, curiosity, and passion."</p>
        </div>
      </div>
    
      <div class="team-card">
        <div class="team-card-image">
          <img src="../../assets/meet-the-team/Justin.jpg" alt="Team Member 2">
        </div>
        <div class="team-card-content">
          <h3>Justin Bowers</h3>
          <p>“Honestly, I've never been much of a car guy, but I saw the race car and I started asking questions about it and I thought it was just the coolest thing to be able to build race cars for free in my spare time in college."</p>
        </div>
    </div>

    <div class="team-card">
        <div class="team-card-image">
          <img src="../../assets/meet-the-team/David.jpg" alt="Team Member 1">
        </div>
        <div class="team-card-content">
          <h3>Lauren Millard</h3>
          <p>"I was surprised at how much I've learned. Because, I was talking to somebody the other day about what I was working on and they were like, I don't understand half the words you're saying."</p>
        </div>
    </div>
</div>

<app-footer></app-footer>
  
  
  