<app-navbar></app-navbar>

<div class="aero-banner">
    <div class="aero-text">
      <h1>Brakes and Controls</h1>
    </div>
</div>

<div class="aero-card-container">
    <div class="aero-card">
      <h3>What We Do...</h3>
      <p>
        This subsystem encompasses brakes, controls, & ergonomics. We use Wilwood brake 
        calipers with laser cut rotors. Our steering wheel has paddle shifters for sequential 
        pneumatic shifting. Cockpit design is a new goal for this season, specifically making 
        it more adjustable for each driver. We currently have an adjustable pedal chassis with 
        carbon fiber foot cups.
      </p>
    </div>
</div>

<div class="aero-image-grid">
    <img src="../../assets/brakes-and-controls/brakes1.jpg" alt="Aerodynamics work 1">
    <img src="../../assets/brakes-and-controls/brakes2.jpg" alt="Aerodynamics work 2">
    <img src="../../assets/brakes-and-controls/brakes3.jpg" alt="Aerodynamics work 3">
    <img src="../../assets/brakes-and-controls/brakes4.jpg" alt="Aerodynamics work 4">
</div>

<div class="subteam-lead-card-container">
    <div class="subteam-lead-card">
      <h3>Sub Team Lead: Alex Kunz</h3>
      <div class="subteam-lead-content">
        <div class="subteam-lead-image">
          <img src="../../assets/brakes-and-controls/Alex.jpg" alt="Team Leader">
        </div>
        <div class="subteam-lead-text">
          <p>Alex is a junior mechanical engineering student. He joined the team the fall of 2022. 
            His main goal for this season is designing an adjustable and ergonomic cockpit. Alex is 
            also a member of our welding team and fabricates the chassis, suspension and powertrain 
            components.</p>
        </div>
      </div>
    </div>
</div>

<app-footer></app-footer>
  
  
  
  
  