<app-navbar></app-navbar>

<div class="aero-banner">
    <div class="aero-text">
      <h1>Aerodynamics</h1>
    </div>
</div>

<div class="aero-card-container">
    <div class="aero-card">
      <h3>What We Do...</h3>
      <p>
        The subsystem works to design and manufacture aerodynamic components for the racecar. With the help of our sponsors, 
        we can manufacture our aerodynamic package completely in house The package creates a downforce on the tires and in turn 
        alters the maximum frictional force the car’s tires can generate. Components include front and rear wings, an undertray, 
        nosecone, and sidepods.
      </p>
    </div>
</div>

<div class="aero-image-grid">
    <img src="../../assets/aerodynamics/aero1.JPG" alt="Aerodynamics work 1">
    <img src="../../assets/aerodynamics/aero2.JPG" alt="Aerodynamics work 2">
    <img src="../../assets/aerodynamics/aero3.JPG" alt="Aerodynamics work 3">
    <img src="../../assets/aerodynamics/aero4.jpg" alt="Aerodynamics work 4">
</div>

<div class="subteam-lead-card-container">
    <div class="subteam-lead-card">
      <h3>Sub Team Lead: Abel Osario-Morales</h3>
      <div class="subteam-lead-content">
        <div class="subteam-lead-image">
          <img src="../../assets/aerodynamics/Abel.jpg" alt="Team Leader">
        </div>
        <div class="subteam-lead-text">
          <p>Abel is a senior mechanical engineering major. He joined the team in Fall 2020. 
            He has dedicated his time to learning Star-CCM +, a CFD software, to predict the external 
            flow over the racecar. Abel has designed the undertray and rear wing as well as working
            with other members to design an effective duct and sidepod design. </p>
        </div>
      </div>
    </div>
</div>

<app-footer></app-footer>
  
  
  
  
  